/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* common css start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
    list-style:  none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.header-color{
    color: #0D1321;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    line-height: auto;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    line-height: 26px;
}
.web-content-title{
    font-size: 20px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    line-height: 36px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* common css end */
/* header part start */
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-logo a{
    font-size: 28px;
    font-weight: 700;
    color: #0D1321;
    cursor: pointer;
}
.header-button button{
    font-size: 18px;
    font-weight: 600;
    color: #0d1321c0;
    background: transparent;
    border: 1px solid rgba(13, 19, 33, 0.795);
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    text-transform: capitalize;
}
.header-button button:hover{
    background: #0D1321;
    color: #ffffff;
    border: 1px solid transparent;
    transition: ease-in-out 0.3s;
}
/* header part end */
/* banner part start */
#banner{
    background-image: url(../image/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
}
.banner-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content .banner-text{
    width: 100%;
    text-align: center;
}
.banner-content .banner-text h1{
    width: 100%;
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    line-height: 68px;
}
.banner-text p{
    padding: 20px 0;
    width: 100%;
}
.banner-btn a{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: #0D1321;
    border: 1px solid rgba(13, 19, 33, 0.795);
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    text-transform: capitalize;
}
.banner-btn a:hover{
    background: transparent;
    color: #0D1321;
    transition: ease-in-out 0.3s;
}
/* banner part end */
/* web part start */
#web{
    margin: 100px 0;
}
.web-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 80px;
}
.web-container .web-header{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.web-header h2{
    width: 100%;
}
.web-header p{
    width: 100%;
    padding: 15px 0;
}
.web-content .content-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 30px;
}
.web-content .content-item:nth-child(2){
    margin: 60px 0;
}
 .web-content .content-item .item-text{
    max-width: 477px;
}
 .web-content .content-item .item-text p{
    padding: 15px 0;
}
 .web-content .content-item .item-text button{
   font-size: 16px;
   font-weight: 600;
   color: #0D1321;
   text-transform: capitalize;
   padding: 10px 13px;
   background: transparent;
   border: 1px solid #0d13217e;
}
 .web-content .content-item .item-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* web part end */
/* inspiration part start */ 
.inspiration-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
}
.inspiration-container .inspiration-text{
    max-width: 850px;
    text-align: center;
}
.inspiration-container .inspiration-text p{
    padding-top: 25px;
}
.inspiration-container .inspiration-video{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;  
}
/* inspiration part end */ 
/* current target part start */

#current-target{
    margin: 100px 0;
}
.ct-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}
.ct-content{
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}
.ct-container .ct-header{
    max-width: 852px;
    text-align: center;
}
.ct-container .ct-header p{
    padding: 15px 0;
}
.ct-content .ct-item{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 31px;
    border-radius: 16px;
}
.ct-content .ct-item:nth-child(1){
    background-color: #ffdddb;
}
.ct-content .ct-item:nth-child(2){
    background-color: #f3dde4;
}
.ct-content .ct-item:nth-child(3){
    background-color: #ffe3d9;
}
.ct-content .ct-item .ct-text p{
    padding: 15px 0;
}
.ct-item .ct-text h4{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    text-transform: uppercase;
}
.ct-item .ct-text .ct-btn a{
    font-size: 14px;
    font-weight: 600;
    color: #0d1321;
    text-decoration: underline;
    text-transform: capitalize;
}
/* current target part end */
/* next target part start */
#next-target{
    margin-bottom: 60px;
}
.next-container .next-header{
    max-width: 852px;
    text-align: center;
    margin: 0 auto;
}
.next-container .next-header p{
    padding: 20px 0;
}
.next-container .next-content{
    margin-top: 80px;
}
.next-content .next-item:nth-child(2){
    margin: 60px 0;
}
.next-content .next-item .next-icon{
    width: 190px;
    height: 130px;
}
.next-content .next-item .next-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.next-content .next-item{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.ct-item .ct-text h4{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    text-transform: uppercase;
}
.next-content .next-item .next-text p{
    padding: 15px 0;
}
.next-item .next-text .next-btn a{
    font-size: 14px;
    font-weight: 600;
    color: #0d1321;
    text-decoration: underline;
    text-transform: capitalize;
}
/* next target part end */
/* support part start */
#support{
    margin: 60px 0 100px;
}
.support-container{
    background-color: rgba(0, 0, 0, 0.486);
    background-image: url(../image/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
    background-blend-mode: overlay;
}
.support-container .support-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-content .support-text{
    max-width: 700px;
    text-align: center;
    padding: 10px;
}
.support-text p{
    padding: 15px 0;
}
form{
    max-width: 650px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
form input{
    width: 75%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #0d132198;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
}
form input::placeholder{
    font-size: 14px;
    font-weight: 400;
    font-family: "Azeret Mono", monospace;
    color: rgba(13, 19, 33, 0.616);
}
.support-text form button{
    font-size: 14px;
    font-weight: 600;
    color: #0D1321;
    padding: 10px 25px;
    background: #ffffff;
    border: none;
    border-radius: 8px;
}
/* support part end */
/* footer part start */
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.footer-content .footer-social{
    max-width: 350px;
}
.footer-social ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}
/* footer part end */